NET "compare" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "a2" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "a1" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "b2" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "b1" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;