NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;
#NET "out1" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

NET "g" LOC = "B4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "f" LOC = "A4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "a" LOC = "D5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "b" LOC = "C5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "c" LOC = "A6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "e" LOC = "B6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "d" LOC = "F7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

NET "reset" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN;
NET "dir" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;

NET "led1" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "led2" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;