//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 09 16:39:40 2023
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "B6" LEVEL 1;
COMP "f" LOCATE = SITE "A4" LEVEL 1;
COMP "led1" LOCATE = SITE "E12" LEVEL 1;
COMP "g" LOCATE = SITE "B4" LEVEL 1;
COMP "led2" LOCATE = SITE "F12" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "dir" LOCATE = SITE "L13" LEVEL 1;
COMP "reset" LOCATE = SITE "D18" LEVEL 1;
COMP "a" LOCATE = SITE "D5" LEVEL 1;
COMP "b" LOCATE = SITE "C5" LEVEL 1;
COMP "c" LOCATE = SITE "A6" LEVEL 1;
COMP "d" LOCATE = SITE "F7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

